* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

img {
    width: 100%;
}

.hlogo {
    display: flex;
    align-items: center;
}

.hlogo img {
    width: 70px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.hlogo span {
    padding: 10px;
    font-size: 2em;
}



header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    padding: 20px;
    background-color: #00af66;
    color: #fff;
}
.desktop-menu li {
    list-style: none;
}
.desktop-menu {
    display: inline-flex;
    align-items: center;
    gap: 40px;
}
.desktop-menu a, .mobile-menu a {
    font-size: 1.3rem;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #222;
    text-decoration: none;
    color: #fff;
}
.desktop-menu a:hover {
    border-bottom: 2px solid #fff;
}

.mobile-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.desktop-menu img, .mobile-menu img {
    height: 30px;
    width: 30px;
    position: relative;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.hero .wrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

.hero .info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .wordoftheday {
    width: 40%;
}

.hero {
    padding: 80px 0;
}

.hero .info .links {
    display: flex;
}

.hero .googplay {
    width: 300px;
}

.hero .web {
    background-color: #000;
    color: #fff;
    width: 200px;
    margin: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 10px;
}

.hero .info h1 {
    font-size: 3rem;
    margin: 0;
}

.hero .info p {
    font-size: 2rem;
}

.mobile-menu-toggle {
    display: none;
    align-items: center;
    font-size: 1.3rem;
    gap: 10px;
    cursor: pointer;
}

.mobile-menu-toggle img {
    width: 30px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.mobile-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    background-color: #057159;
    flex-direction: column;
    margin: 0;
    width: 300px;
    max-width: 100%;
    padding: 80px 40px 40px 40px;
    gap: 20px;
    transition: all .2s ease-in;
}

.mobile-menu.active {
    right: 0;
}

.close-mobile-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    filter: invert(100%);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #000;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-mobile-menu img {
    width: 100%;
}

.mobile-menu li {
    list-style: none;
}

.mobile-menu a {
    display: inline-flex;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
    width: 100%;
}



@media(max-width: 900px) {
    .mobile-menu-toggle {
        display: flex;
    }
    .desktop-menu {
        display: none;
    }
    .hero .wrap {
        flex-direction: column;
    }

    .hero {
        padding: 20px;
    }

    .hero .wordoftheday, .hero .info {
        width: 100%;
    }
}